* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    background: black;
    width: 100%;
    height: 120px;
}

.tituloPrincipal {
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navMenu li a {
    padding: 0.5rem 1rem;
    font-size: 17px;
    color: whitesmoke;
    text-decoration: none;
}


.titulo {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 35px;
    font-weight: bold;
}


.camisetas {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 5rem;
    margin-left: 2.6rem;
    border-radius: 6px;
    box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.2);
    float: left;
    margin-bottom: 2rem;
}


.logo {
    width: 155px;
    height: 150px;
}

.button {
    background-color: black;
    padding: 0.2rem 0.25rem;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.cont {
    display: flex;
    text-align: center;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1%;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.img-details {
    width: 400px;
    margin-left: 17rem;
}

.itemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.itemCountCounter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    font-size: 30px;
    font-weight: bold;
}

.goToCart {
    margin-bottom: 1rem;
}

.addToCart {
    margin-bottom: 1rem;
}

.countCart {
    margin: 1rem;
}

.price {
    font-weight: bolder;
    font-size: 25px;
    margin: 10px auto;
}


.carrito {
    width: 50%;
    margin-top: 2rem;
    padding: 2%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-right: 25%;
    margin-left: 25%;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin-bottom: 2rem;
}

.carritoImage {
    width: 150px;
    margin: 2rem;
}


.carritoItems {
    display: flex;
    justify-content: space-evenly;
}

.carritoDetails {
    display: flex;
    justify-content: center;
    margin-right: 10rem;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5.5rem;
}


.margin {
    margin-top: 3rem;
}

.deleteItem {
    margin-top: 6.1rem;
}

.camisetasImg {
    width: 250px;
}