* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    background: black;
    width: 100%;
    height: 120px;
}

.tituloPrincipal {
    font-size: 35px;
    color: aquamarine;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navMenu li a {
    padding: 0.5rem 1rem;
    font-size: 17px;
    color: whitesmoke;
    text-decoration: none;
}


.titulo {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}


.camisetas {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 5rem;
    margin-left: 2.6rem;
    border-radius: 6px;
    box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.2);
    float: left;
    margin-bottom: 2rem;
}


.logo {
    width: 155px;
    height: 150px;
}

.button {
    background-color: black;
    padding: 0.2rem 0.25rem;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.texto-cargando {
    display: flex;
    justify-content: center;
}